.shiny-file-input-progress {
    height: 5px;
    margin-bottom: 0px;
}

body {
    font-family: Helvetica;
}

.skin-blue .main-header .navbar {
    background-color: #112735;
}

.skin-blue .main-header .navbar .nav>li>a:hover {
    background-color: #0a171f !important;
}

.skin-blue .main-header .navbar .nav>.active>a {
    background-color:  !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #0a171f !important;
}

.navbar-default .navbar-toggle {
    border-color: #0a171f !important;
}

.skin-blue .main-header .logo {
    background-color: #0a171f !important;
}

.skin-blue .main-header .logo:hover {
    background-color: #0a171f !important;
}

#bt2Options { 
    font-family: courier, consolas;
}

.kmer {
    cursor: pointer;
}

#highlight {
    background-color: lightblue;
}

#font_size_increase {
    display: block;
    margin-bottom: 2px;
}

#font_size_decrease {
    display: block;
}

.main-header .navbar {
    -webkit-transition: none !important;
    -o-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
    margin-left: 0 !important;
}

.navbar-brand {
    padding-top: 0;
    padding-left: 1px;
    padding-bottom: 30px;
    padding-right: 0;
}

.navbar-default .navbar-toggle {
    border-color: #337ab7;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #337ab7;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-toggle {
    margin-top: 2.5px;
    margin-right: 14px;
}
