body {
    font-family: Helvetica;
}

.skin-blue .main-header .logo {
    background-color: #3c8dbc;
}
.skin-blue .main-header .logo:hover {
    background-color: #3c8dbc;
}

#bt2Options { 
    font-family: courier, consolas;
}

.kmer {
    cursor: pointer;
}

#highlight {
    background-color: lightblue;
}

#font_size_increase {
    display: block;
    margin-bottom: 2px;
}

#font_size_decrease {
    display: block;
}
